<!-- <p-card [header]="nombre | titlecase"
        subheader="Programador">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card><br>

<button pButton 
        (click)="mostrarNombre()"
        icon="pi pi-pencil" 
        iconPos="right"
        class="p-button-help p-button-outlined"
        label="Cambiar Nombre">
</button> -->

<app-menu></app-menu>
<router-outlet></router-outlet>


